<header class="app-header sticky-top sticky-lg-bottom bg-dark text-light container-xxl">
  <div class="app-header-section container-fluid container-md d-flex justify-content-start align-items-center">
    <img class="app-header-icon" style="width: 100px;" src="https://png.pngtree.com/element_our/png_detail/20181013/code-icon-design-vector-png_125856.jpg" alt="">
    <h1 class="app-header-title">
      Bruno Schmitz da Silva
    </h1>
  </div>
</header>
<section class="app-top-section">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente nam molestiae laudantium officia maiores autem, at dolorum eaque labore delectus ad minima provident porro ea commodi consectetur! Labore, quis.

</section>
<footer class="app-footer">

</footer>
